div {
    float:left;
    margin:10px;
    min-height:40px;
    min-width:50px;
    border-color:black;
    border-width:1px;
    border-style:solid;
    
    background-color:white;
    
    -webkit-border-radius:3px;
       -moz-border-radius:3px;
            border-radius:3px;

    text-align: left;
    color: white;
    font-family: arial;
    padding: 2px;
}

p {
    text-align: left;
    color: white;
    font-family: arial;
    padding: 1px; 
    padding-left: 3px; 
}

div#CBM {
    min-width: 500px;
    clear:both;
}

p#cbmHeader {
    text-align: center;
    color: darkblue; 
}

div.CompetencyGroup {
    background-color: skyblue;
    margin-top: 0;
    min-height:315px;
    float:left;
}

p.CompetencyGroupHeader {
    background-color: skyblue;
    color: darkblue;
    margin-top: 0;
    margin-bottom: 5;
    min-height: 0;
    border:0;
    float:none;
}

div.Competency {
    background-color: skyblue;
    margin-top: 0;
    width: 160px;
    border:0;
    padding:0;
    float:left;
    display: block;
}

div.CompetencyDoubleWidth {
    background-color: skyblue;
    margin-top: 0;
    width: 335px;
    border:0;
    padding:0;
    padding-right: -50px;
    margin-right: 0;
    float:left;
    display: block;
}

p.CompetencyHeader {
    background-color: darkblue;
    margin-top: 0;
    margin-bottom: 5px;
    clear: both;
}

div.FunctionalComponent {
    background-color: blue;
    color:white;
    margin-top: 5px;
    width: 150px;
    min-height:40px;
    word-wrap:break-word;
    float: left;
    font-size: 14px; 
    margin-left: 0;
    margin-right: 10px;
}

div.hover {
    background-color:#33CCFF;
    cursor:pointer;
}

.tooltip {
    display: none;
    position: absolute;
    border: 1px solid #333;
    background-color: #161616;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-size: 12px Arial;
}
